/* 
	Big Thanks and Credits to leadweedy:
	https://github.com/leadweedy/Firefox-Proton-Square
	I took some of the squaring stuff from his Repo
*/

:root {
  --bg-color: #030303;
  --hl-color: #404040;
  --sc-color: #151515;
}

@-moz-document url("about:newtab"),
url("about:home") {
  body {
    background-color: var(--bg-color) !important;
  }

  .icon {
    display: none !important;
  }

  .search-inner-wrapper {
    display: none !important;
  }

  .search-handoff-button {
    background-color: var(--sc-color) !important;
    border-radius: 0px !important;
    border: solid 3px var(--sc-color) !important;
    transition: 100ms;
    box-shadow: none !important;
  }

  .search-handoff-button:hover {
    border: solid var(--hl-color) !important;
    transition: 100ms;
  }

  .fake-textbox {
    color: #ffffff !important;
  }

  .logo-and-wordmark .logo {
    background: url("img/logo.png") no-repeat !important;
    background-size: cover !important;
    display: inline-block !important;
  }

  .logo {
    width: 120px !important;
    height: 120px !important;
  }
}

@-moz-document url("about:privatebrowsing") {
  body {
    background-color: var(--bg-color) !important;
    justify-content: unset !important;
    padding-top: 134px !important;
  }

  .icon {
    display: none !important;
  }

  .search-inner-wrapper {
    display: none !important;
  }

  .search-handoff-button {
    background-color: var(--sc-color) !important;
    border-radius: 0px !important;
    border: solid 3px var(--sc-color) !important;
    transition: 100ms;
    box-shadow: none !important;
  }

  .search-handoff-button:hover {
    border: solid var(--hl-color) !important;
    transition: 100ms;
  }

  .fake-textbox {
    color: #e2e1ed !important;
  }

  .logo-and-wordmark .logo {
    background: url("img/logopv.png") no-repeat !important;
    background-size: cover !important;
    display: inline-block !important;
  }

  .logo {
    width: 120px !important;
    height: 120px !important;
  }

  #private-browsing-myths {
    display: none !important;
  }

  #info-title {
    margin: 0 !important;
  }
}

@-moz-document url(about:preferences),
url(about:preferences#general),
url(about:preferences#home),
url(about:preferences#search),
url(about:preferences#privacy),
url(about:preferences#sync),
url(about:addons) {
  .checkbox-check {
    border-radius: 0 !important;
  }

  #automaticallySubmitCrashesBox {
    border-radius: 0 !important;
  }

  button {
    border-radius: 0 !important;
  }

  richlistitem {
    border-radius: 0 !important;
  }

  .sidebar-footer-link {
    border-radius: 0 !important;
  }

  .toggle-button {
    border-radius: 0 !important;
  }

  .toggle-button::before {
    border-radius: 0 !important;
  }

  #engineList {
    border-radius: 0 !important;
  }

  .content-blocking-category {
    border-radius: 0 !important;
  }

  .content-blocking-warning {
    border-radius: 0 !important;
  }

  #browserContainersExtensionContent {
    border-radius: 0 !important;
  }

  #firefoxSuggestInfoBox {
    border-radius: 0 !important;
  }

  #updateSettingsContainer {
    border-radius: 0 !important;
  }

  #downloadFolder {
    border-radius: 0 !important;
  }

  #handlersView {
    border-radius: 0 !important;
  }

  #fxaSyncComputerName {
    border-radius: 0 !important;
  }

  .sync-configured {
    border-radius: 0 !important;
  }

  .fxaProfileImage {
    border-radius: 0 !important;
  }

  #policies-container {
    border-radius: 0 !important;
  }
}


@-moz-document url(about:preferences),
url(about:preferences#general),
url(about:preferences#home),
url(about:preferences#search),
url(about:preferences#privacy),
url(about:preferences#sync) {
  input[type="checkbox"].toggle-button::before {
    height: 10px !important;
    width: 10px !important;
    margin-top: 4px !important;
    margin-left: 2px !important;
  }
}

@-moz-document regexp("^(about:|chrome:|moz-extension:).*") {
  richlistbox {
    border-radius: 0 !important;
  }

  button {
    border-radius: 0 !important;
  }

  .dialogBox {
    border-radius: 0 !important;
  }

  menulist {
    border-radius: 0 !important;
  }

  checkbox {
    border-radius: 0 !important;
  }

  .checkbox-check {
    border-radius: 0 !important;
  }

  listheader {
    border-radius: 0 !important;
  }

  search-textbox {
    border-radius: 0 !important;
  }

  #url {
    border-radius: 0 !important;
  }

  tree {
    border-radius: 0 !important;
  }

  #networkProxyNone {
    border-radius: 0 !important;
  }

  #networkProxyAutoconfigURL {
    border-radius: 0 !important;
  }

  #networkProxySOCKS_Port {
    border-radius: 0 !important;
  }

  #networkProxySOCKS {
    border-radius: 0 !important;
  }

  #networkProxySSL_Port {
    border-radius: 0 !important;
  }

  #networkProxySSL {
    border-radius: 0 !important;
  }

  #networkProxyHTTP_Port {
    border-radius: 0 !important;
  }

  #networkProxyHTTP {
    border-radius: 0 !important;
  }

  #given-name {
    border-radius: 0 !important;
  }

  #family-name {
    border-radius: 0 !important;
  }

  #street-address {
    border-radius: 0 !important;
  }

  #address-level2 {
    border-radius: 0 !important;
  }

  #address-level1 {
    border-radius: 0 !important;
  }

  #postal-code {
    border-radius: 0 !important;
  }

  #organization {
    border-radius: 0 !important;
  }

  #country {
    border-radius: 0 !important;
  }

  #tel {
    border-radius: 0 !important;
  }

  #email {
    border-radius: 0 !important;
  }

  #cc-number {
    border-radius: 0 !important;
  }

  #cc-exp-month {
    border-radius: 0 !important;
  }

  #cc-exp-year {
    border-radius: 0 !important;
  }

  #cc-name {
    border-radius: 0 !important;
  }

  #cc-type {
    border-radius: 0 !important;
  }

  #message {
    border-radius: 0 !important;
  }

  #pw1 {
    border-radius: 0 !important;
  }

  #pw2 {
    border-radius: 0 !important;
  }

  #pwmeter {
    appearance: none !important;
    height: 0.35em !important;
    border: none !important;
    vertical-align: 0 !important;
    margin: 0.5em 0 !important;
  }

  #foregroundtextmenu {
    border-radius: 0 !important;
  }

  #backgroundmenu {
    border-radius: 0 !important;
  }

  #unvisitedlinkmenu {
    border-radius: 0 !important;
  }

  #visitedlinkmenu {
    border-radius: 0 !important;
  }

  #sanitizeEverythingWarningBox {
    border-radius: 0 !important;
  }

}

@-moz-document url(about:addons) {
  search-textbox {
    border-radius: 0 !important;
  }

  panel-list {
    border-radius: 0 !important;
  }

  .discopane-notice {
    border-radius: 0 !important;
  }

  .container {
    border-radius: 0 !important;
  }

  .card-heading-image {
    border-radius: 0 !important;
  }

  .card {
    border-radius: 0 !important;
  }

  button {
    border-radius: 0 !important;
  }

  richlistitem {
    border-radius: 0 !important;
  }

  menulist {
    border-radius: 0 !important;
  }

  .sidebar-footer-link {
    border-radius: 0 !important;
  }

  .toggle-button,
  .toggle-button::before {
    border-radius: 0 !important;
  }

  .category[badge-count]::after {
    border-radius: 0 !important;
  }

}

@-moz-document url(about:config) {
  #about-config-search {
    border-radius: 0 !important;
  }

  #about-config-show-only-modified {
    border-radius: 0 !important;
  }

  #showWarningNextTime {
    border-radius: 0 !important;
  }

  button {
    border-radius: 0 !important;
  }
}

@-moz-document url(about:downloads) {
  .button-box {
    border-radius: 0 !important;
  }

  richlistbox {
    border-radius: 0 !important;
  }
}

@-moz-document url(about:buildconfig),
url(about:compat),
url(about:crashes),
url(about:debugging),
url(about:debugging#/setup),
url(about:debugging#/runtime/this-firefox),
url(about:devtools),
url(about:logins),
url(about:networking),
url(about:policies),
url(about:profiles),
url(about:profiling),
url(about:protections),
url(about:serviceworkers),
url(about:studies),
url(about:support),
url(about:telemetry),
url(about:unloads),
url(about:url-classifier),
url(about:webrtc),
url(about:welcome) {
  * {
    border-radius: 0 !important;
  }
}

@supports (-moz-appearance:none) {
  .primary.try-again {
    border-radius: 0 !important;
  }
}

@supports (-moz-appearance:none) {
  .primary.try-again {
    border-radius: 0 !important;
  }

  #returnButton {
    border-radius: 0 !important;
  }

  #advancedButton {
    border-radius: 0 !important;
  }

  #exceptionDialogButton {
    border-radius: 0 !important;
  }

  #advancedPanelReturnButton {
    border-radius: 0 !important;
  }

  #automaticallyReportBlockingInFuture {
    border-radius: 0 !important;
  }
}

@supports (-moz-appearance:none) {
  #restart {
    border-radius: 0 !important;
  }
}

@supports (-moz-appearance:none) {
  .pip-small.clickable {
    border-radius: 0 !important;
  }

  .pip-expanded {
    border-radius: 0 !important;
  }

  .pip-explainer {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}