:root {
	--tab-min-height: 36px !important;
    --tab-block-margin: 1px !important;
	--focus-outline-width: 0 !important;
	--newtab-search-icon: none !important;
	--tab-block-margin: 0 !important;
}

menupopup {
	border: none !important;
	border-radius: 0% !important;
	padding: 0 !important;
	margin: 0 !important;
}

#shadow-root {
	border: none !important;
	border-radius: 0% !important;
	padding: 0 !important;
	margin: 0 !important;
}

menupopup menuitem, menupopup menu {
	padding-block: 4px !important;
	margin: 0px !important;
	border: none !important;
	border-radius: 0 !important;
}

toolbarbutton {
	border: none !important;
	border-radius: 0 !important;
}

menupopup menuitem:hover, menupopup menu:hover {
	background-color: #1c1b22 !important;
}

#BMB_bookmarksPopup {
	background-color: #1c1b22 !important;
	border-radius: 0 !important;
	opacity: 100% !important;
}

#BMB_bookmarksPopup menuitem, #BMB_bookmarksPopup menu {
    padding-block: 4px !important;
	border-radius: 0px !important;
	margin: 0px !important;
}

#BMB_bookmarksPopup menuitem:hover, #BMB_bookmarksPopup menu:hover {
    background-color: #1c1b22 !important;
	margin: 0px !important;
}

.menupopup-arrowscrollbox {
	border: none !important;
	border-radius: 0 !important;
	margin: 0px !important;
	padding: 0 px !important;
	background-color: rgba(66,65,77, 1.0)  !important;
}

#PersonalToolbar {
    max-height: 3em !important;
}

#navigator-toolbox {
	border-bottom: none !important;
}

.tabbrowser-tab, .tab-content, .tab-background{
	margin: 0 !important;
}

.tabbrowser-tab:hover .tab-background {
	border: solid #72717d !important;
	
}

.tabbrowser-tab[selected] .tab-content {
	background-color: #72717d !important;
}

.tab-background {
	background-color: #2b2a33 !important;
}

#tabbrowser-tabs {
	background-color: #1c1b22 !important;
	margin: 0 !important;
}

toolbar {
	background-color: #2b2a33 !important;
}

#urlbar {
	min-height: 36px !important;
	border: solid #1c1b22 !important;
	border-radius: 0px !important;
}

#urlbar:hover {
	border: solid #72717d !important;
}

#urlbar-input-container {
	background-color: #42414d !important;
	border: none !important;
	border-radius: 0px !important;
}

#urlbar-background {
	background-color: #42414d !important;
	border: none !important;
	border-radius: 0px !important;
}

#urlbar-background, #searchbar {
    box-shadow: none !important;
}

#nav-bar {
    box-shadow: none !important;
    border-top: none !important;
}

#urlbar-input {
	color: #e2e1ed !important;
	margin-left: 6px !important;
}

#identity-box {
	display: none !important;
}

#stop-reload-button image {
	background-color: #1c1b22 !important;
	border: none !important;
	border-radius: 0px !important;
}

#forward-button image {
	background-color: #1c1b22 !important;
	border: none !important;
	border-radius: 0px !important;
}

#back-button image {
	background-color: #1c1b22 !important;
	border: none !important;
	border-radius: 0px !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack {
	background-color: #1c1b22 !important;
	border: none !important;
	border-radius: 0px !important;
}

panel {
	background-color: rgba(66,65,77, 1.0)  !important;
	background: rgba(66,65,77, 1.0)  !important;
	-moz-window-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	border-radius: 0px !important;
}

#appMenu-popup {
	background: rgba(66,65,77, 1.0)  !important;
	border: none !important;
	border-radius: 0px !important;
}

#appMenu-multiView {
	background: rgba(66,65,77, 1.0)  !important;
	border: none !important;
	border-radius: 0px !important;
}

.panel-viewcontainer {
	background: rgba(66,65,77, 1.0)  !important;
	border: none !important;
	border-radius: 0px !important;
}

.panel-subview-body {
	background: rgba(66,65,77, 1.0)  !important;
	border: none !important;
	border-radius: 0px !important;
}

.panel-arrowcontainer * {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	border-radius: 0px !important;
}

#appMenu-popup {
	border-color: red !important;
	border-radius: 0px !important;
}

#appMenu-popup .subviewbutton {
	padding-block: 4px !important;
	border-radius: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}

#appMenu-popup .subviewbutton:hover {
	background-color: #1c1b22 !important;
	border: none !important;
	border-radius: 0px !important;
}

.subviewbutton.panel-subview-footer {
	border: none !important;
	border-radius: 0px !important;
	background: #42414d !important;
	margin: 0px !important;
	padding: 0 px !important;
}

.panel-header {
	border: none !important;
	border-radius: 0px !important;
	background: #42414d !important;
	margin: 0px !important;
	padding: 0 px !important;
}

.panel-subview-footer {
	border: none !important;
	border-radius: 0px !important;
	background: #42414d !important;
	margin: 0px !important;
	padding: 0px !important;
}

#PlacesToolbarItems{ 
	-moz-box-pack: center;
	border: none !important;
	border-radius: 0px !important;
}

#tabbrowser-tabs {
	--proton-tab-block-margin: 0;
	--tab-border-radius: 0;
}
.tab-background {
	box-shadow: none !important;
}
#tabbrowser-tabs .tab-background > .tab-context-line {
	margin: 0 !important;
}

#contentAreaContextMenu {
	margin: 5px !important;
}
