@-moz-document url("about:newtab"), url("about:home"), url("about:privatebrowsing") {  
	body {
		background-color: #2b2a33 !important;
	}
	.wordmark {
		display: none !important;
	}
	.icon {
		display: none !important;
	}
	.search-handoff-button {
		background-color: #42414d !important;
		border-radius: 0px !important;
		border: solid 3px #1c1b22 !important;
		transition: 100ms;
		box-shadow: none !important;
	}
	.search-handoff-button:hover {
		border: solid #72717d !important;
		transition: 100ms;
	}
	.fake-textbox {
		color: #e2e1ed !important;
	}
	.logo-and-wordmark .logo { 
		background: url("img/logo.png") no-repeat !important; 
		background-size: cover !important; 
		display: inline-block !important;
	} 
	.logo {
		width: 120px !important;
		height: 120px !important;
	}
}

@-moz-document url("about:privatebrowsing") {  
	body {
		background-color: #100015 !important;
	}
}